$blue-primary: #1C69D4;
$blue-secondary: #0966AF;
$blue-hover: #0351BE;
$green-color: #25D366;
$white: #FFFFFF;
$gray-100: #E6E6E6;
$gray-200:  #D6D6D6;
$gray-300: #BBBBBB;
$gray-400: #707070;
$gray-500: #666666;
$gray-600:#262626;